<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PromoStudio.Storage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PromoStudio.Storage.Properties.Settings>
            <setting name="AmazonS3AccessKey" serializeAs="String">
                <value>AKIAJGWX4PS3I77KQNYA</value>
            </setting>
            <setting name="AmazonS3SecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="AmazonS3UserId" serializeAs="String">
                <value>1fabbf90eead4d904c035eb42fcfc4fba443b254e7cf3bc6c97165ba98ecf407</value>
            </setting>
            <setting name="BucketNamePrefix" serializeAs="String">
                <value>PromoStudio-Demo-</value>
            </setting>
        </PromoStudio.Storage.Properties.Settings>
    </applicationSettings>
</configuration>