<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PromoStudio.Storage.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PromoStudio.Storage.Properties.Settings>
            <setting name="AmazonS3AccessKey" serializeAs="String">
                <value>AKIAJGWX4PS3I77KQNYA</value>
            </setting>
            <setting name="AmazonS3SecretKey" serializeAs="String">
                <value>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</value>
            </setting>
            <setting name="AmazonS3UserId" serializeAs="String">
                <value>1fabbf90eead4d904c035eb42fcfc4fba443b254e7cf3bc6c97165ba98ecf407</value>
            </setting>
            <setting name="BucketNamePrefix" serializeAs="String">
                <value>PromoStudio-</value>
            </setting>
            <setting name="VidyardApiKey" serializeAs="String">
                <value>aK4mXiU6zwpuRqqxi9in</value>
            </setting>
            <setting name="VidyardApiUrl" serializeAs="String">
                <value>https://api.vidyard.com/dashboard/v1/</value>
            </setting>
            <setting name="VidyardApiUserId" serializeAs="String">
                <value>tim@promostudio.com</value>
            </setting>
            <setting name="VidyardApiSecret" serializeAs="String">
                <value>goldmine</value>
            </setting>
            <setting name="VimeoApiClientId" serializeAs="String">
                <value>2eff82107e5b7abb7b83889168a5385d4546be90</value>
            </setting>
            <setting name="VimeoApiClientSecret" serializeAs="String">
                <value>802c6e4ef26ca3df7dcc956c7c2f0514d927507c</value>
            </setting>
            <setting name="VimeoApiAccessToken" serializeAs="String">
                <value>6ab2b3453d507d15e84616b92b7c58d8</value>
            </setting>
            <setting name="VimeoApiAccessTokenSecret" serializeAs="String">
                <value>4d5f61bd6ae663c62937b522aa37a059f2d69c86</value>
            </setting>
            <setting name="VimeoApiPresetId" serializeAs="String">
                <value>358907</value>
            </setting>
        </PromoStudio.Storage.Properties.Settings>
    </applicationSettings>
</configuration>