<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PromoStudio.Data.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="PromoStudio.Rendering.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="PromoStudio.RenderQueue.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="PromoStudio.Storage.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <PromoStudio.Data.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=127.0.0.1;Database=promostudio;Uid=PromoStudioUser;Pwd=pr0m057ud10;</value>
      </setting>
    </PromoStudio.Data.Properties.Settings>
    <PromoStudio.Rendering.Properties.Settings>
      <setting name="AfterEffectsExePath" serializeAs="String">
        <value>C:\Program Files\Adobe\Adobe After Effects CC\Support Files\afterfx.exe</value>
      </setting>
      <setting name="ScriptPath" serializeAs="String">
        <value>C:\PromoStudio\AETemplate</value>
      </setting>
      <setting name="OutputPath" serializeAs="String">
        <value>C:\PromoStudio\Output</value>
      </setting>
      <setting name="RenderProjectPath" serializeAs="String">
        <value>C:\PromoStudio\AETemplate\SpliceVideo.aep</value>
      </setting>
      <setting name="RenderProjectComp" serializeAs="String">
        <value>HDTV 24FPS</value>
      </setting>
      <setting name="RenderProjectPreviewComp" serializeAs="String">
        <value>NTSC 24FPS</value>
      </setting>
      <setting name="RenderProjectOutputTemplate" serializeAs="String">
        <value>FullHD-H264</value>
      </setting>
      <setting name="RenderProjectPreviewOutputTemplate" serializeAs="String">
        <value>NTSC-H264</value>
      </setting>
    </PromoStudio.Rendering.Properties.Settings>
    <PromoStudio.RenderQueue.Properties.Settings>
      <setting name="ErrorProcessingDelayInSeconds" serializeAs="String">
        <value>30</value>
      </setting>
    </PromoStudio.RenderQueue.Properties.Settings>
    <PromoStudio.Storage.Properties.Settings>
      <setting name="BucketNamePrefix" serializeAs="String">
        <value>PromoStudio-</value>
      </setting>
      <setting name="VimeoApiClientId" serializeAs="String">
        <value>d46e4b11bc1d52a70a3c86ce4014667c6f8a7816</value>
      </setting>
      <setting name="VimeoApiClientSecret" serializeAs="String">
        <value>9386add8a2a2919c24c7a341ca673dbb1930d2c4</value>
      </setting>
      <setting name="VimeoApiAccessToken" serializeAs="String">
        <value>8e8d0b8e480058e82daeba5b2f72b58f</value>
      </setting>
    </PromoStudio.Storage.Properties.Settings>
  </applicationSettings>
</configuration>