@import url('elements.less');
@import url('themevariables.less');

@mediabgcolor: darken(@bgbasecolor, 71%);
@shadowColor: lighten(@mediabgcolor, 30%);

.inlineblock() {
    display: inline-block;
    *display: inline;
}