@import url('glyphicons.css');

@import url('//fonts.googleapis.com/css?family=Josefin+Sans:100&.css');
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* white-label banner */
/* rounded corner size */.build-steps {
  margin-top: 40px;
}
.build-steps .build-step {
  color: #4f4f4f;
  width: auto;
  max-width: 300px;
  border: solid 1px transparent;
}
.build-steps .build-step > .glyphicons,
.build-steps .build-step > .glyphicons:before {
  color: #4f4f4f;
}
.build-steps .build-step label {
  font-size: 14px;
  float: left;
  cursor: pointer;
  width: auto;
  white-space: nowrap;
  line-height: 1.2em;
  color: #4f4f4f;
}
.build-steps .build-step label .muted {
  color: inherit;
  width: auto;
  white-space: nowrap;
  display: block;
  font-weight: normal;
}
.build-steps .build-previous-step {
  float: left;
  text-align: left;
  padding: 0 0 4px 10px;
}
.build-steps .build-previous-step > .glyphicons,
.build-steps .build-previous-step > .glyphicons:before {
  margin: -2px 0 0 0;
}
.build-steps .build-previous-step label {
  margin: -14px 0 2px 80px;
}
.build-steps .build-next-step {
  float: right;
  text-align: right;
  padding: 0 10px 4px 10px;
}
.build-steps .build-next-step > .glyphicons,
.build-steps .build-next-step > .glyphicons:before {
  margin: -2px -20px 0 0;
}
.build-steps .build-next-step label {
  margin: -14px 56px 2px 0;
}
.build-steps a,
.build-steps a:link,
.build-steps a:visited {
  cursor: pointer;
  color: #4f4f4f;
}
.build-steps a label,
.build-steps a:link label,
.build-steps a:visited label,
.build-steps a span.glyphicons:before,
.build-steps a:link span.glyphicons:before,
.build-steps a:visited span.glyphicons:before {
  cursor: pointer;
  color: #4f4f4f;
}
.build-steps a:hover,
.build-steps a:focus,
.build-steps a:active {
  color: #57c446;
}
.build-steps a:hover label,
.build-steps a:focus label,
.build-steps a:active label,
.build-steps a:hover span.glyphicons:before,
.build-steps a:focus span.glyphicons:before,
.build-steps a:active span.glyphicons:before {
  color: #57c446;
}
.build-steps a:hover .build-step,
.build-steps a:focus .build-step,
.build-steps a:active .build-step {
  background-color: #ffffff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 8px #969696;
  -moz-box-shadow: 0 1px 8px #969696;
  box-shadow: 0 1px 8px #969696;
}
.build-steps a.notready,
.build-steps a.notready label,
.build-steps a.notready:link,
.build-steps a.notready:hover,
.build-steps a.notready:focus,
.build-steps a.notready:active,
.build-steps a.notready:visited {
  cursor: default;
  color: #cfcfcf;
}
.build-steps a.notready span.glyphicons:before,
.build-steps a.notready label span.glyphicons:before,
.build-steps a.notready:link span.glyphicons:before,
.build-steps a.notready:hover span.glyphicons:before,
.build-steps a.notready:focus span.glyphicons:before,
.build-steps a.notready:active span.glyphicons:before,
.build-steps a.notready:visited span.glyphicons:before {
  cursor: default;
  color: #cfcfcf;
}
.build-steps a.notready .build-step,
.build-steps a.notready label .build-step,
.build-steps a.notready:link .build-step,
.build-steps a.notready:hover .build-step,
.build-steps a.notready:focus .build-step,
.build-steps a.notready:active .build-step,
.build-steps a.notready:visited .build-step {
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.thumbcontainer > a.footage-thumbnail,
.thumbcontainer > a.footage-thumbnail:link,
.thumbcontainer > a.footage-thumbnail:hover,
.thumbcontainer > a.footage-thumbnail:active,
.thumbcontainer > a.footage-thumbnail:visited {
  color: #4f4f4f;
}
.thumbcontainer > a.footage-thumbnail {
  display: block;
  float: left;
  width: 272px;
  margin: 20px 0 0 20px;
  overflow: hidden;
  text-decoration: none;
  color: #4f4f4f;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px #969696;
  -moz-box-shadow: 0 1px 2px #969696;
  box-shadow: 0 1px 2px #969696;
}
.thumbcontainer > a.footage-thumbnail > .footage-preview {
  background-color: #4a4a4a;
  -moz-background-size: contain;
  -o-background-size: contain;
  -webkit-background-size: contain;
  background-size: contain;
  height: 140px;
}
.thumbcontainer > a.footage-thumbnail > .footage-preview > .footage-play {
  display: none;
  position: relative;
  top: 48px;
  left: 114px;
  width: 43px;
  height: 43px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  opacity: 0.6;
  -webkit-box-shadow: 0 0 5px #4a4a4a;
  -moz-box-shadow: 0 0 5px #4a4a4a;
  box-shadow: 0 0 5px #4a4a4a;
}
.thumbcontainer > a.footage-thumbnail > .footage-preview > .footage-play > .glyphicons:before {
  margin: -2px 0 0 9px;
  color: #4a4a4a;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection {
  height: 52px;
  background-color: #ffffff;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection > .footage-title {
  position: relative;
  top: 17px;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection > .glyphicons:before {
  margin: 0 0 0 9px;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection > .glyphicons.check {
  display: none;
  color: #57c446;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection > .glyphicons.check:before {
  display: none;
  color: #57c446;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection > .glyphicons.unchecked {
  display: inline-block;
  *display: inline;
  color: #9c9c9c;
}
.thumbcontainer > a.footage-thumbnail > .footage-selection > .glyphicons.unchecked:before {
  display: inline-block;
  *display: inline;
  color: #9c9c9c;
}
.thumbcontainer > a.footage-thumbnail:hover {
  -webkit-box-shadow: 0 1px 8px #969696;
  -moz-box-shadow: 0 1px 8px #969696;
  box-shadow: 0 1px 8px #969696;
}
.thumbcontainer > a.footage-thumbnail:hover > .footage-preview > .footage-play {
  display: block;
}
.thumbcontainer > a.footage-thumbnail:hover > .footage-selection > .glyphicons.check {
  display: inline-block;
  *display: inline;
}
.thumbcontainer > a.footage-thumbnail:hover > .footage-selection > .glyphicons.check:before {
  display: inline-block;
  *display: inline;
  color: #b6deb0;
}
.thumbcontainer > a.footage-thumbnail:hover > .footage-selection > .glyphicons.unchecked {
  display: none;
}
.thumbcontainer > a.footage-thumbnail:hover > .footage-selection > .glyphicons.unchecked:before {
  display: none;
}
.thumbcontainer > a.footage-thumbnail.selected,
.thumbcontainer > a.footage-thumbnail.selected:hover {
  -webkit-box-shadow: 0 1px 8px #57c446;
  -moz-box-shadow: 0 1px 8px #57c446;
  box-shadow: 0 1px 8px #57c446;
}
.thumbcontainer > a.footage-thumbnail.selected > .footage-selection > .glyphicons.check,
.thumbcontainer > a.footage-thumbnail.selected:hover > .footage-selection > .glyphicons.check {
  display: inline-block;
  *display: inline;
}
.thumbcontainer > a.footage-thumbnail.selected > .footage-selection > .glyphicons.check:before,
.thumbcontainer > a.footage-thumbnail.selected:hover > .footage-selection > .glyphicons.check:before {
  display: inline-block;
  *display: inline;
  color: #57c446;
}
.thumbcontainer > a.footage-thumbnail.selected > .footage-selection > .glyphicons.unchecked,
.thumbcontainer > a.footage-thumbnail.selected:hover > .footage-selection > .glyphicons.unchecked {
  display: none;
}
.thumbcontainer > a.footage-thumbnail.selected > .footage-selection > .glyphicons.unchecked:before,
.thumbcontainer > a.footage-thumbnail.selected:hover > .footage-selection > .glyphicons.unchecked:before {
  display: none;
}
