@import url('glyphicons.css');

@import url('//fonts.googleapis.com/css?family=Josefin+Sans:100&.css');
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/* white-label banner */
/* rounded corner size */div.navbar {
  position: absolute;
  top: 75px;
  width: 100%;
  min-width: 1018px;
  background-color: #ffffff;
  border: 0;
  border-bottom: solid 1px #e3e3e3;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  padding: 0 7px;
}
div.navbar .navbar-nav {
  float: left;
  margin: 0;
}
div.navbar .navbar-nav > li {
  float: left;
}
div.navbar .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 8px;
  color: #cfcfcf;
  background-color: #ffffff !important;
}
div.navbar .navbar-nav > li > a:hover,
div.navbar .navbar-nav > li > a:focus {
  color: #a8a8a8;
}
div.navbar .navbar-nav > li.active > a {
  color: #4f4f4f;
}
div.navbar .navbar-nav > li.active > a .muted {
  color: #787878;
}
div.navbar li {
  color: #cfcfcf;
}
div.navbar li > a > div {
  margin-top: -12px;
  width: auto;
  max-width: 170px;
}
div.navbar li > a span.glyphicons:before {
  color: #cfcfcf;
  margin: -2px 0 0 0;
}
div.navbar li > a span.glyphicons.stepDone:before {
  font-size: 16px;
  color: #57c446 !important;
  margin: 13px 0 0 -37px;
}
div.navbar li > a label {
  font-size: 14px;
  float: left;
  cursor: pointer;
  margin: -14px 0 2px 40px;
  width: auto;
  white-space: nowrap;
  line-height: 1.2em;
}
div.navbar li > a label .muted {
  color: inherit;
  width: auto;
  white-space: nowrap;
  display: block;
  font-weight: normal;
}
div.navbar li > a:hover span.glyphicons:before,
div.navbar li > a:focus span.glyphicons:before {
  color: #a8a8a8;
}
div.navbar li.active > a span.glyphicons:before {
  color: #4f4f4f;
}
div.navbar li.active .arrow {
  bottom: -11px;
  left: 27px;
  margin-left: -11px;
  border-top-color: #dbdbdb;
  border-width: 11px;
  border-bottom-width: 0;
}
div.navbar li.active .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-top-color: #ffffff;
  border-width: 10px;
  border-bottom-width: 0;
  content: " ";
}
div.navbar li.notready {
  cursor: default;
}
div.navbar li.notready > a,
div.navbar li.notready > a:hover,
div.navbar li.notready > a:focus {
  color: #cfcfcf;
  cursor: default;
}
div.navbar li.notready > a label,
div.navbar li.notready > a:hover label,
div.navbar li.notready > a:focus label,
div.navbar li.notready > a span.glyphicons:before,
div.navbar li.notready > a:hover span.glyphicons:before,
div.navbar li.notready > a:focus span.glyphicons:before {
  color: #cfcfcf;
  cursor: default;
}
div.navbar li .arrow,
div.navbar li .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
