@import url('themevariables.less');

@mediabgcolor: darken(@bgbasecolor, 71%);
@shadowcolor: lighten(@mediabgcolor, 30%);


.thumbcontainer {
    /* VIDEOS */
    > a.footage-thumbnail,
    > a.footage-thumbnail:link,
    > a.footage-thumbnail:hover,
    > a.footage-thumbnail:active,
    > a.footage-thumbnail:visited {
        color: @basecolor;
    }

    > a.footage-thumbnail {
        display: block;
        float: left;
        width: 272px;
        margin: 20px 0 0 20px;
        overflow: hidden;
        text-decoration: none;
        color: @basecolor;
        .rounded(@cs);
        .box-shadow(0 1px 2px @shadowcolor);

        > .footage-preview {
            background-color: @mediabgcolor;
            background-position: center;
            background-repeat: no-repeat;
            .bgSize(cover);
            height: 140px;

            > .footage-play {
                display: none;
                position: relative;
                top: 48px;
                left: 114px;
                width: 43px;
                height: 43px;
                .rounded(@cs);
                background-color: @bgbasecolor;
                opacity: 0.6;
                .box-shadow(0 0 5px @mediabgcolor);

                > .glyphicons:before {
                    margin: -2px 0 0 9px;
                    color: @mediabgcolor;
                }
            }
        }
    }

        > a.footage-thumbnail:hover {
            .box-shadow(0 1px 8px @shadowcolor);

            > .footage-preview {
                > .footage-play {
                    display: block;
                }
            }
        }



    /* PHOTOS */
    > a.photo-thumbnail,
    > a.photo-thumbnail:link,
    > a.photo-thumbnail:hover,
    > a.photo-thumbnail:active,
    > a.photo-thumbnail:visited {
        color: @basecolor;
    }

    > a.photo-thumbnail {
        display: block;
        float: left;
        margin: 0 8px 8px 0;
        overflow: hidden;
        text-decoration: none;
        color: @basecolor;
        .rounded(@cs);
        .box-shadow(0 1px 2px @shadowcolor);

        > .photo-preview {
            background-color: @bgbasecolor;
            background-position: center;
            background-repeat: no-repeat;
            width: 228px;
            height: 130px;
            text-align: center;
            .bgSize(cover);

            > .photo-select {
                display: none;

                > span.glyphicons,
                > span.glyphicons:before {
                    font-size: 24px;
                    color: @completedcolor;
                }

                > span.glyphicons {
                    float: left;
                }

                    > span.glyphicons:before {
                        margin: 8px 0 0 12px;
                    }
            }

            > .photo-upload {
                text-align: center;

                > span.photo-upload-label {
                    display: block;
                    color: @contentcolor;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 66px;
                }

                > span.glyphicons,
                > span.glyphicons:before {
                    font-size: 36px;
                    width: 35px;
                    color: @completedcolor;
                }

                    > span.glyphicons:before {
                        margin: 10px 0 0 6px;
                    }
            }

            > .photo-title {
                display: inline-block;
                margin-top: 8px;
                text-transform: uppercase;
                color: @contentmutedcolor;
                font-size: 9px;
            }

            > .photo-change {
                display: none;
                width: 120px;
                height: 92px;
                margin-top: 12px;
                .rounded(@cs);
                opacity: 0;
                background-color: fade(@bgbasecolor, 80%);

                > span.photo-change-label {
                    display: block;
                    color: @contentcolor;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 54px;
                }

                > span.glyphicons,
                > span.glyphicons:before {
                    font-size: 36px;
                    width: 35px;
                    color: @contentcolor;
                }

                    > span.glyphicons:before {
                        margin: -2px 0 0 6px;
                    }
            }
        }

            > .photo-preview.completed {
                > .photo-upload {
                    display: none;
                }

                > .photo-change {
                    display: inline-block;
                }
            }

            > .photo-preview.completed,
            > .photo-preview.no-choose {
                > .photo-title {
                    background-color: fade(@contentcolor, 70%);
                    padding: 2px;
                    .rounded(2px);
                }
            }

            > .photo-preview.completed {
                > .photo-title {
                    margin-top: 0px;
                }
            }

            > .photo-preview.no-choose {
                > .photo-title {
                    margin-top: 112px;
                }
            }
    }

        > a.photo-thumbnail:hover {
            .box-shadow(0 1px 8px @shadowcolor);

            > .photo-selection {
            }

            > .photo-preview {

                > .photo-change {
                    opacity: 1;
                }
            }
        }

        > a.photo-thumbnail.selected,
        > a.photo-thumbnail.selected:hover {
            .box-shadow(0 1px 8px @completedcolor);

            .photo-select {
                display: block;
            }
        }



    /* AUDIO */
    > a.audio-thumbnail,
    > a.audio-thumbnail:link,
    > a.audio-thumbnail:hover,
    > a.audio-thumbnail:active,
    > a.audio-thumbnail:visited {
        color: @basecolor;
    }

    > a.audio-thumbnail {
        display: block;
        float: left;
        width: 400px;
        margin: 0 8px 8px 0;
        overflow: hidden;
        text-decoration: none;
        background-color: @bgbasecolor;
        color: @basecolor;
        .rounded(@cs);
        .box-shadow(0 1px 2px @shadowcolor);

        > .audio-preview {
            background-color: @mediabgcolor;
            background-position: left;
            background-repeat: no-repeat;
            float: left;
            width: 80px;
            height: 72px;
            .bgSize(cover);

            > .glyphicons {
                float: left;
            }

                > .glyphicons:before {
                    margin: 16px 0 0 20px;
                    font-size: 36px;
                    color: @contentmutedcolor;
                }

            > .audio-play {
                display: none;
                margin: 17px 0 0 22px;
                height: 36px;
                width: 36px;
                .rounded(@cs);
                background-color: @bgbasecolor;
                opacity: 0.6;
                .box-shadow(0 0 5px @mediabgcolor);

                > span.glyphicons,
                > span.glyphicons:before {
                    font-size: 24px;
                    color: @mediabgcolor;
                }

                    > span.glyphicons:before {
                        margin: -6px 0 0 5px;
                    }
            }
        }

        > .audio-title {
            float: left;
            display: block;
            width: 240px;
            margin: 2px 0 0 6px;

            > .audio-main-title {
                display: block;
                font-size: 16px;
                color: @contentcolor;
            }

            > .audio-sub-title {
                display: block;
                font-size: 14px;
                color: @contentmutedcolor;
            }
        }

        .audio-select,
        .audio-deselect {
            float: left;

            .glyphicons:before {
                margin-top: 5px;
                margin-left: 26px;
                font-size: 30px;
            }
        }

        .audio-select {
            display: none;

            .glyphicons:before {
                color: @completedcolor;
            }
        }

        .audio-deselect {
            display: block;

            .glyphicons:before {
                color: lighten(@basecolor, 30%);
            }
        }
    }

        > a.audio-thumbnail:hover {
            .box-shadow(0 1px 8px @shadowcolor);

            .audio-play {
                display: block;
            }

            .audio-select {
                display: block;

                .glyphicons:before {
                    color: lighten(desaturate(@completedcolor, 10%), 26%);
                }
            }

            .audio-deselect {
                display: none;
            }
        }

        > a.audio-thumbnail.selected,
        > a.audio-thumbnail.selected:hover {
            .box-shadow(0 1px 8px @completedcolor);

            .audio-select {
                display: block;

                .glyphicons:before {
                    color: @completedcolor;
                }
            }

            .audio-deselect {
                display: none;
            }
        }
}
