@import url('elements.less');
@import url('themevariables.less');


.thumbcontainer {
    > a.footage-thumbnail {

        > .footage-description {
            height: 52px;
            background-color: @bgbasecolor;

            > .footage-title {
                position: relative;
                top: 17px;
            }
        }
    }
}
