<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PromoStudio.Rendering.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PromoStudio.Rendering.Properties.Settings>
            <setting name="AfterEffectsExePath" serializeAs="String">
                <value>C:\Program Files\Adobe\Adobe After Effects CS6\Support Files\afterfx.exe</value>
            </setting>
            <setting name="ScriptPath" serializeAs="String">
                <value>C:\PromoStudio\AE Template</value>
            </setting>
            <setting name="OutputPath" serializeAs="String">
                <value>C:\PromoStudio\Output</value>
            </setting>
            <setting name="RenderProjectPath" serializeAs="String">
                <value>C:\PromoStudio\AE Template\SpliceVideo.aep</value>
            </setting>
            <setting name="RenderProjectComp" serializeAs="String">
                <value>HDTV 24FPS</value>
            </setting>
            <setting name="RenderProjectPreviewComp" serializeAs="String">
                <value>NTSC 24FPS</value>
            </setting>
            <setting name="RenderProjectOutputTemplate" serializeAs="String">
                <value>FullHD-H264</value>
            </setting>
            <setting name="RenderProjectPreviewOutputTemplate" serializeAs="String">
                <value>NTSC-H264</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>C:\PromoStudio\Uploads</value>
            </setting>
        </PromoStudio.Rendering.Properties.Settings>
    </applicationSettings>
</configuration>