<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PromoStudio.Data.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
      <section name="PromoStudio.Storage.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <applicationSettings>
    <PromoStudio.Data.Properties.Settings>
      <setting name="ConnectionString" serializeAs="String">
        <value>Server=72.167.176.230;Database=promostudio;Uid=PromoStudioUser;Pwd=pr0m057ud10;</value>
      </setting>
    </PromoStudio.Data.Properties.Settings>
    <PromoStudio.Storage.Properties.Settings>
      <setting name="AmazonS3AccessKey" serializeAs="String">
        <value>AKIAJGWX4PS3I77KQNYA</value>
      </setting>
      <setting name="AmazonS3SecretKey" serializeAs="String">
        <value>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</value>
      </setting>
      <setting name="AmazonS3UserId" serializeAs="String">
        <value>1fabbf90eead4d904c035eb42fcfc4fba443b254e7cf3bc6c97165ba98ecf407</value>
      </setting>
      <setting name="BucketNamePrefix" serializeAs="String">
        <value>PromoStudio-</value>
      </setting>
      <setting name="VimeoApiClientId" serializeAs="String">
        <value>d46e4b11bc1d52a70a3c86ce4014667c6f8a7816</value>
      </setting>
      <setting name="VimeoApiClientSecret" serializeAs="String">
        <value>9386add8a2a2919c24c7a341ca673dbb1930d2c4</value>
      </setting>
      <setting name="VimeoApiAccessToken" serializeAs="String">
        <value>8e8d0b8e480058e82daeba5b2f72b58f</value>
      </setting>
    </PromoStudio.Storage.Properties.Settings>
  </applicationSettings>
</configuration>