@model PromoStudio.Web.ViewModels.AccountViewModelBase
<h2>Account DashBoard</h2>
<!-- account-info -->
<div class="account-info">
	<span class="col">
		Customer Number:
		<strong>1234567890</strong>
	</span>
	<span class="col">
		Pin:
		<strong>****</strong>
	</span>
</div>