@using PromoStudio.Resources
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>@Strings.Error_period</h1>
        <h2>@Strings.An_error_occurred_while_processing_your_request_period</h2>
    </hgroup>
</body>
</html>