@{
    ViewBag.Title = "Your Resources";
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/scaffold"], function () {
            require(["viewModels/resourcesViewModel", "jquery", "knockout"],
                function(resourcesViewModel, $, ko) {
                    $(function() {
                        var container = $("div.main-container div[data-pjax-container]")[0],
                            vm = new resourcesViewModel();
                        vm.pageLoaded();
                        ko.applyBindings(vm, container);
                    });
                });
        });
    </script>
}
<h1>@ViewBag.Title</h1>
<hr />

<div style="display: none" data-bind="visible: LoadingData">
    <h3>Loading your resources...</h3>
    <div class="loader-large"></div>
</div>

<!-- ko if: CustomerResources().length > 0 -->
<div data-bind="foreach: CustomerResources()">
    <div class="row-fluid">
        <div class="span6">
            <h3 data-bind="text: TemplateScriptItemType"></h3>
        </div>
        <div class="span3">
            <h5 data-bind="text: TemplateScriptItemCategory"></h5>
        </div>
        <div class="span3">
            <!-- ko if: TemplateScriptItemType() !== "Text" -->
            <a href="javascript:void(0);" target="_blank" data-bind="attr: { href: LinkUrl  }, text: LinkFileName"></a>
            <!-- /ko -->
            <!-- ko if: TemplateScriptItemType() === "Text" -->
            <input type="text" data-bind="value: Value" />
            <!-- /ko -->
        </div>
    </div>
</div>
<!-- /ko -->
<!-- ko if: CustomerResources().length === 0 -->
<h2>You have no resources</h2>
<!-- /ko -->

<hr />
<div>
    <h3>Resource Upload</h3>
    <div style="display: none" class="alert alert-success" data-bind="fadeVisible: FileLoadSuccess">
        <a href="javascript:void(0);" class="close" data-bind="click: function () { FileLoadSuccess(false); }">&times;</a>
        File uploaded successfully.
    </div>
    <div style="display: none" class="alert alert-error" data-bind="fadeVisible: FileLoadError">
        <a href="javascript:void(0);" class="close" data-bind="click: function () { FileLoadError(false); }">&times;</a>
        There was a problem loading your file. Please try again.
    </div>
    <div data-bind="fadeVisible: !LoadingFile()">
        <select data-bind="options: CategoryList, optionsText: 'Text', value: SelectedCategory, optionsCaption: 'Choose a Category'"></select>
        <form data-bind="attr: { action: FormAction }" method="post" enctype="multipart/form-data">  
          <label for="file">Filename:</label>
          <input type="file" name="file" id="file" />
          <input type="submit" />
        </form>
    </div>
    <div style="display: none" data-bind="fadeVisible: LoadingFile">
        <div class="progress progress-striped">
            <div class="bar" data-bind="style: { width: (LoadingFilePercentage() + '%') }" style="width:0;"></div>
        </div>
    </div>
    <div id="formSubmitResponse"></div>
</div>