@using PromoStudio.Resources
@model PromoStudio.Web.PromoStudioPrincipal
@{
    ViewBag.Title = "Welcome to PromoStudio";
    string firstName = null;
    var user = Context.User != null
        && Context.User.Identity != null
        && Context.User.Identity.IsAuthenticated
            ? (PromoStudio.Web.PromoStudioIdentity)Context.User.Identity
            : null;
    if (user != null)
    {
        firstName = user.FullName;
        int ix = firstName.IndexOf(" ");
        if (ix > 0) {
            firstName = firstName.Substring(0, ix);
        }
    }
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/loginViewModel"],
            function (loginViewModel) {
                var vm = new loginViewModel();
                vm.pageLoaded();
            });
    </script>
}
<h1>@ViewBag.Title</h1>
<hr />

<!-- Jumbotron -->
<div class="jumbotron">
    <img class="logo" src="@Url.Content("~/Content/img/promoStudio.jpg")" alt="PromoStudio Logo" />
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    
    @if (user == null) {
        <div id="loginButtons">
            <a id="fbLogin" class="signinBtn facebookSignin"></a>
            <a id="gLogin" class="signinBtn googleSignin"></a>
        </div>

        <div id="loginResult" style="display: none">
            <div id="userName"></div>
        </div>
    }
    else {
        <div>
            @string.Format(Strings.Login__Welcome_back, firstName)
        </div>
    }
</div>

<hr />

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#lbImg" data-toggle="lightbox">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>

@section modals
{
    <div id="lbImg" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
	    <div class='lightbox-content'>
		    <img src="/Content/img/promoStudio.jpg">
		    <div class="lightbox-caption"><p>Your caption here</p></div>
	    </div>
    </div>
}