@model PromoStudio.Web.PromoStudioPrincipal
@{
    ViewBag.Title = "Welcome to PromoStudio";
    string firstName = null;
    if (Model != null) {
        firstName = ((PromoStudio.Web.PromoStudioIdentity)Model.Identity).FullName;
        int ix = firstName.IndexOf(" ");
        if (ix > 0) {
            firstName = firstName.Substring(0, ix);
        }
    }
}

@section scripts
{
    @if (Model == null) {
    <script type="text/javascript">
        require(["jquery", "viewModels/loginViewModel", "googleOAuth", "facebookOAuth", "bootstrap"],
            function ($, loginViewModel, googleOauth, facebookOAuth) {
                var goa = new googleOauth("#gLogin", function (user) {
                    $("#loginButtons").hide();
                    $('#userName').text("Welcome, " + user.name + " (" + user.email + ")");
                    $('#loginResult').show();
                    $('.navbar').show();
                    var vm = new loginViewModel(1, user.id, user.name, user.email);
                    vm.PerformLogin();
                });
                $("#gLogin").click(function () {
                    $("#fbLogin").hide();
                    goa.login();
                });

                var foa = new facebookOAuth("#fbLogin", function (user) {
                    $("#loginButtons").hide();
                    $('#userName').text("Welcome, " + user.name + " (" + user.email + ")");
                    $('#loginResult').show();
                    $('.navbar').show();
                    var vm = new loginViewModel(2, user.id, user.name, user.email);
                    vm.PerformLogin();
                });
                $("#fbLogin").click(function () {
                    $("#gLogin").hide();
                    foa.login();
                });
            });
    </script>
    }
}

<!-- Jumbotron -->
<div class="jumbotron">
    <img class="logo" src="@Url.Content("~/Content/img/promoStudio.jpg")" alt="PromoStudio Logo" />
    <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
    
    @if (Model == null) {
    <div id="loginButtons">
        <a id="fbLogin" class="signinBtn facebookSignin"></a>
        <a id="gLogin" class="signinBtn googleSignin"></a>
    </div>

    <div id="loginResult" style="display: none">
        <div id="userName"></div>
    </div>
    }
    else {
        <div>
            Welcome back, @(firstName)!
        </div>
    }
</div>

<hr />

<!-- Example row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.</p>
        <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
</div>
