@using PromoStudio.Resources
@model PromoStudio.Web.PromoStudioPrincipal
@{
    ViewBag.Title = "Welcome to PromoStudio";
    string firstName = null;
    var user = Context.User != null
        && Context.User.Identity != null
        && Context.User.Identity.IsAuthenticated
            ? (PromoStudio.Web.PromoStudioIdentity)Context.User.Identity
            : null;
    if (user != null)
    {
        firstName = user.FullName;
        int ix = firstName.IndexOf(" ");
        if (ix > 0) {
            firstName = firstName.Substring(0, ix);
        }
    }
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/loginViewModel"],
            function (loginViewModel) {
                var vm = new loginViewModel();
                vm.pageLoaded();
            });
    </script>
}
<h1>@ViewBag.Title</h1>
<hr />

<!-- Jumbotron -->
<div class="jumbotron">
    
    @if (user == null) {
        <div id="loginButtons">
            <a id="fbLogin" class="signinBtn facebookSignin"></a>
            <a id="gLogin" class="signinBtn googleSignin"></a>
        </div>

        <div id="loginResult" style="display: none">
            <div id="userName"></div>
        </div>
    }
    else {
        <div>
            @string.Format(Strings.Login__Welcome_back, firstName)
        </div>
    }
</div>

<hr />
    
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">PromoStudio Demo Notice</h3>
    </div>
    <div class="panel-body">
        This is a special build of PromoStudio used only for demo purposes. It has a condensed workflow that will not require
        voice actor input, and it will only generate standard-definition videos. In addition, the application is not completely
        styled, and certain pieces of functionality may still be incomplete, or temporarily disabled.
    </div>
</div>

@section modals
{
    <div id="lbImg" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
	    <div class='lightbox-content'>
		    <img src="/Content/img/promoStudio.jpg">
		    <div class="lightbox-caption"><p>Your caption here</p></div>
	    </div>
    </div>
}