@using PromoStudio.Resources
@model PromoStudio.Web.ViewModels.HomeViewModel
@{
    ViewBag.Title = Strings.Sign_In;
}

@section scripts
{
    <script type="text/javascript">
        require(["viewModels/scaffold"], function () {
            require(["viewModels/loginViewModel"],
                function(loginViewModel) {
                    var vm = new loginViewModel();
                    vm.pageLoaded();
                });
        });
    </script>
}

@section Navigation {
}
    
@if (@Model.User == null) {
    <div id="loginButtons">
        <a id="fbLogin" class="signinBtn facebookSignin"></a>
        <a id="gLogin" class="signinBtn googleSignin"></a>
    </div>

    <div id="loginResult" style="display: none">
        <div id="userName"></div>
    </div>
}
else {
    <div>
        @string.Format(Strings.Login__Welcome_back, @Model.UserFirstName)
    </div>
}
    
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title">PromoStudio Demo Notice</h3>
    </div>
    <div class="panel-body">
        This is a special build of PromoStudio used only for demo purposes. It has a condensed workflow that will not require
        voice actor input, and it will only generate standard-definition videos. In addition, the application is not completely
        styled, and certain pieces of functionality may still be incomplete, or temporarily disabled.
    </div>
</div>