<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VDNUploader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <VDNUploader.Properties.Settings>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ProxyHost" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="TicketId" serializeAs="String">
                <value />
            </setting>
            <setting name="TicketEndPoint" serializeAs="String">
                <value />
            </setting>
            <setting name="UploadFile" serializeAs="String">
                <value />
            </setting>
            <setting name="ChunkSize" serializeAs="String">
                <value>1048576</value>
            </setting>
        </VDNUploader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
