@import url('elements.less');
@import url('themevariables.less');


.inlineblock() {
    display: inline-block;
    *display: inline;
}

.thumbcontainer {
    > a.footage-thumbnail {

        > .footage-selection {
            height: 52px;
            background-color: @bgbasecolor;

            > .footage-title {
                position: relative;
                top: 17px;
            }

            > .glyphicons:before {
                margin: 0 0 0 9px;
            }

            > .glyphicons.check {
                display: none;
                color: @completedcolor;
            }

                > .glyphicons.check:before {
                    display: none;
                    color: @completedcolor;
                }

            > .glyphicons.unchecked {
                .inlineblock();
            }

                > .glyphicons.unchecked:before {
                    .inlineblock();
                    color: lighten(@basecolor, 30%);
                }
        }
    }

        > a.footage-thumbnail:hover {

            > .footage-selection {
                > .glyphicons.check {
                    .inlineblock();
                }

                    > .glyphicons.check:before {
                        .inlineblock();
                        color: lighten(desaturate(@completedcolor, 10%), 26%);
                    }

                > .glyphicons.unchecked {
                    display: none;
                }

                    > .glyphicons.unchecked:before {
                        display: none;
                    }
            }
        }

        > a.footage-thumbnail.selected,
        > a.footage-thumbnail.selected:hover {
            .box-shadow(0 1px 8px @completedcolor);

            > .footage-selection {
                > .glyphicons.check {
                    .inlineblock();
                }

                    > .glyphicons.check:before {
                        .inlineblock();
                        color: @completedcolor;
                    }

                > .glyphicons.unchecked {
                    display: none;
                }

                    > .glyphicons.unchecked:before {
                        display: none;
                    }
            }
        }
}
