@import url('jcf.less');
@import url('elements.less');

a.signinBtn {
    margin-top: 12px;
    border: 0;
    display: block;
    margin: 12px auto;
    width: 472px;
    height: 88px;
    cursor: pointer;
}

    a.signinBtn:hover,
    a.signinBtn:active {
        background-position-y: -176px;
    }

    a.signinBtn.wait,
    a.signinBtn.wait:link,
    a.signinBtn.wait:visited,
    a.signinBtn.wait:hover,
    a.signinBtn.wait:active {
        background-position-y: -88px;
        cursor: wait;
    }

a.facebookSignin {
    background: url(../images/signin-facebook-sprite.png) 0 0 no-repeat transparent;
}

a.googleSignin {
    background: url(../images/signin-google-sprite.png) 0 0 no-repeat transparent;
}

a.twitterSignin {
    background: url(../images/signin-twitter-sprite.png) 0 0 no-repeat transparent;
}

div.audio-player {
    font-size: 12pt;
    opacity: 0;

    div.jp-interface {
        height: 56px !important;
    }

    div.jp-title {
        display: none;
    }

    div.jp-audio {
        border: 1px solid transparent;
        width: 443px;
    }

    ul.jp-controls {
        width: 420px;
        padding: 8px 0 0 8px;
    }

    div.jp-progress {
        left: 100px;
        top: 20px;
    }

    div.jp-time-holder {
        left: 100px;
        top: 36px;
    }

    div.jp-volume-bar {
        top: 26px;
        left: 318px;
        width: 80px;
    }

    a.jp-mute,
    a.jp-unmute,
    a.jp-volume-max {
        margin-top: 13px;
    }    

    a.jp-mute,
    a.jp-unmute {
        margin-left: 216px !important;
    }

    a.jp-volume-max {
        margin-left: 83px !important;
    }
}

@import url('ps-choosermodal.less');